*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.button{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
}
.space-bet{
    justify-content: space-between;
}

a{text-decoration: none;}
ul{list-style-type: none;}

.container{
    width: 95%;
    margin: 0 auto;
}

header{
    background-color: rgba(0,132,253,255);
    padding: .8rem 0;
    color: #fff;
}

.header-icon-bar{
    display: block;
    padding-top: 11px;
}

.header-icon-bar span{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 5px;
}

.header-menu{
    display: none;
}

.header-menu span{
    margin-left: 1.5rem;
    margin-top: 8px;
}
.header-menu ul{
    align-items: center;
}
.header-menu ul li{
    font-size: 17px;
    margin-left: 1.5rem;
    padding-top: 8px;
}


@media (min-width: 768px) {
    .header-icon-bar{
        display: none;
    }

    .header-menu{
        display: block;
    }

  
}

