*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
}

.button{
    background-color: #fff;
    padding: 5px 10px;
    border-radius: 20px;
    color: black;
}
.space-bet{
    justify-content: space-between;
}

a{text-decoration: none;}
ul{list-style-type: none;}

.container{
    width: 93%;
    margin: 0 auto;
}

header{
    width: 100%;
    background-color: rgba(0,132,253,255);
    padding: .8rem 0;
    margin-bottom: 3rem;
}

.header-icon-bar{
    display: block;
    padding-top: 11px;
}

.header-icon-bar span{
    display: block;
    height: 3px;
    width: 30px;
    background-color: #fff;
    margin-bottom: 5px;
}

.header-menu{
    display: none;
}

.header-menu span{
    margin-left: 1.5rem;
    margin-top: 8px;
}
.header-menu ul{
    align-items: center;
}
.header-menu ul li{
    color: #fff;
    font-size: 12px;
    margin-left: 1rem;
    padding-top: 8px;
}

@media (min-width: 768px) {
    
    .header-icon-bar{
        display: none;
    }

    .header-menu{
        display: block;
    }
    .container{
        width: 65%;
    }
}

.bg-violet{
    background-color: rgba(151,146,228,255);
}

.big-box{
    width: 100%;
    border: 1px solid red;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 15px;
}

.small-box{
    width: 100%;
    border: 1px solid red;
    height: 300px;
    margin-bottom: 1rem;
    border-radius: 15px;
}












@media (min-width: 480px) {

    .first-section{
        display: flex;
        gap: 20px;
    }

    .big-box{
    width: calc((100% / 3) * 2);
}

    .small-box{
    width: calc(100% / 3 - 10px);
}
  
}



